
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');

.animation-hide {
  opacity: 0;
}

.coding-font {
  font-family: 'Roboto Mono', 'Times New Roman';
  color: #0078d7
}

.ecommerce-font {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #FF9900;
}

.youtube-font {
  font-family: 'Roboto', 'Times New Roman';
  color: #FF0000;
}


@keyframes rotate-text {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  10%, 25% {
    transform: translateY(0%);
    opacity: 1
  }

  33.33%, 100%{
    transform: translateY(50%);
    opacity: 0;
  }
}

.alternating-text:nth-of-type(1){
  animation: 12s infinite 0s rotate-text;
}

.alternating-text:nth-of-type(2){
  animation: 12s infinite 4s rotate-text;
}

.alternating-text:nth-of-type(3){
  animation: 12s infinite 8s rotate-text;
}

.introduction > *.animation-hide {
  transform: translateY(-100%);
}

.introduction > *:not(.animation-hide) {
  transform: translateY(0);
  opacity: 100;
}

.introduction > *:nth-child(1){
  transition: transform 0.5s ease-in 0s, opacity 0.5s ease-out 0s;
}

.introduction > *:nth-child(2){
  transition: transform 0.5s ease-in 0.5s , opacity 0.5s ease-out 0.5s;
}

.introduction > *:nth-child(3){
  transition: transform 0.5s ease-in 1s, opacity 0.5s ease-out 1s;
}

.introduction > *:nth-child(4){
  transition: transform 0.5s ease-in 1.5s, opacity 0.5s ease-out 1.5s;
}

.section-header-container h2.animation-hide {
  transform: translateY(-50%);
}

.section-header-container h2:not(.animation-hide) {
  transform: translateY(0);
  transition: transform 0.5s ease-out 0s;
}